{% extends 'base.html' %}


{% block title %}jaipur{% endblock title %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<body>
  <header>
    <div class="logo">
      <h1>Rajasthan Travel Guide</h1>
    </div>
  </header>
  <main>
    <div class="container-fluid ">
      <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/static/gajner.jfif" class="d-block w-100 px-0" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/static/junagarh.jfif" class="d-block w-100 px-0" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/static/karnimata.jfif" class="d-block w-100 px-0" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  </div>
        <h3>Top Attractions</h3>
        <ul>
          <li>Junagarh Fort</li>
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              About it
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Junagarh Fort is one of the most popular tourist attractions in Bikaner, Rajasthan. Built in the 16th century by the Rajput ruler Raja Rai Singh, the fort is a marvel of Rajput architecture and design. The fort has several palaces, temples, and courtyards, each showcasing the intricate carvings, artwork, and murals of the time. The fort has been well-preserved over the centuries, and visitors can explore its various parts and get a glimpse of the grandeur of Rajput culture and history. Some of the notable attractions within the fort include the Anup Mahal, Phool Mahal, Chandra Mahal, and the Karan Mahal. The fort also has a museum that displays a collection of weapons, costumes, and other artifacts of the Rajput era. Junagarh Fort is a must-visit destination for anyone interested in history, architecture, and culture, and offers a fascinating glimpse into the rich legacy of Bikaner and Rajasthan.

            </div>
          </div>
          <li>Karni Mata Temple</li>
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              About it
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Karni Mata Temple, also known as the Temple of Rats, is a popular Hindu temple located in the town of Deshnok, near Bikaner in Rajasthan. The temple is dedicated to Karni Mata, a Hindu sage, and is famous for its population of rats, which are considered sacred by the locals. According to legend, Karni Mata was the incarnation of the goddess Durga and had the power to bring back the dead. The temple attracts thousands of visitors each year, who come to see the rats and seek blessings from Karni Mata. The rats in the temple are believed to be the reincarnated descendants of Karni Mata's family, and it is considered auspicious to have a rat run over one's feet. The temple is an unusual and fascinating destination, and offers a unique glimpse into the spiritual and cultural traditions of Rajasthan. Visitors should take precautions to avoid harming the rats and respect the religious beliefs of the locals while visiting the temple.

            </div>
          </div>
          <li>Lalgarh Palace</li>
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              About it
            </a>
            </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Lalgarh Palace is a magnificent palace located in the city of Bikaner, Rajasthan, India. The palace was built by Maharaja Ganga Singh of Bikaner in the early 20th century in memory of his father, Maharaja Lal Singh. The palace is a unique blend of Rajput, Mughal, and European architectural styles and is considered one of the most beautiful palaces in Rajasthan.

                The palace is made of red sandstone and features intricate carvings and beautiful latticework. It has over 400 rooms, including grand suites, lounges, and dining halls, all adorned with exquisite artwork, antique furniture, and ornate decorations. The palace also has a beautiful garden and a swimming pool.
                
            </div>
          </div>
          <li>Gajner Palace</li>
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              About it
            </a>
            </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Gajner Palace is a stunning palace located near the city of Bikaner in the state of Rajasthan, India. It was built in the early 20th century by Maharaja Ganga Singh of Bikaner as a hunting lodge for his family and guests. The palace is situated on the banks of the Gajner Lake, surrounded by a dense forest and vast sand dunes.

                The architecture of Gajner Palace is a unique blend of Rajput, Mughal, and European styles. The palace is made of red sandstone and features intricate carvings and beautiful jharokhas (balconies) with stunning views of the lake and the surrounding forest. The palace has 45 well-appointed rooms, each with its own unique decor and furnishings, reflecting the grandeur of the bygone era.
            </div>
          </div>
        </ul>

  <div class="container mb-3 py-4">
    <h1 class="logo">Bookings</h1>
    <form method="post" action="/contact">
    {% csrf_token %}
        <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
        </div>
        <div class="form-group">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
        </div>
        <div class="form-group">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date">
        </div>
        <div class="form-group">
          <label for="email" class="form-label">No. of People</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
      </div>
        <br><button type="Submit" class="btn btn-dark">Book Now</button><br> 
    </form>
</div>
 
</body>
</html>

{% endblock body %}