{% extends 'base.html' %}


{% block title %}contact{% endblock title %}

{% block body %}
<div class="container-fluid px-0">
    <img src="/static/contact1.jfif" class="d-block w-100 mx-0" alt="..."
</div>

<div class="container mb-3 py-4">
    <h1 class="text-center">Contact Us</h1>
    <form method="post" action="/contact">
    {% csrf_token %}
        <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
        </div>
        <div class="form-group">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
        </div>
        <div class="form-group">
            <label for="phone" class="form-label">phone</label>
            <input type="phone" class="form-control" id="phone" placeholder="Enter Your Phone no.">
        </div>
        <div class="form-group">
            <label for="desc" class="form-label">Tell me about your query...</label>
            <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
        </div>
        <br><button type="Submit" class="btn btn-dark">Submit</button> 
    </form>
</div>
{% endblock body %}