{% extends 'base.html' %}


{% block title %}jaipur{% endblock title %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<body>
  <header>
    <div class="logo">
      <h1>Rajasthan Travel Guide</h1>
    </div>
  </header>
  <main>
    <div class="container-fluid ">
      <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/static/7-wonders.jfif" class="d-block w-100 px-0" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/static/fall.jfif" class="d-block w-100 px-0" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/static/ganesh.jfif" class="d-block w-100 px-0" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/static/kishore.jfif" class="d-block w-100 px-0" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  </div>
        <h3>Top Attractions</h3>
        <ul>
          <li>Gaipernath Waterfall</li>
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              About it
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Gaipernath Waterfall situated in Kota is one of the beautiful destinations bo Rajasthan.
                The waterfall is available only during the monsoons,  and the other times it is dried up.
                It is approximately about 300 steps trek to the waterfalls. 
                There is a temple named Gaipernath Temple located at the waterfalls. 
                The waterfalls looks breathtaking during monsoons.
                 One can click great pictures at the waterfalls.
                
            </div>
          </div>
          <li>Khade Ganeshji Temple</li>
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              About it
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
                This temple is famous for the standing idol of the Ganesha which is one of its own kind in India.
                Believed to be around 600 years old, the temple is visited by thousands of pilgrims every year.
                Located in the vicinity of the Chambal river, this temple also has a lake nearby where the peacocks can be spotted.
                 The history of the temple and its unique structure makes it one of the best places to visit in Kota.   
                
            </div>
          </div>
          <li>Seven Wonders Park</li>
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              About it
            </a>
            </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Seven Wonders Park is a popular tourist attraction in Kota, Rajasthan, that features replicas of the world's seven wonders: the Taj Mahal, Great Pyramid of Giza, Leaning Tower of Pisa, Eiffel Tower, Colosseum, Statue of Liberty, and Great Wall of China.
                Each replica is meticulously crafted and offers visitors an opportunity to see these iconic landmarks up close without having to travel to their actual locations. 
               The park also features beautiful landscaping, including fountains, gardens, and walking paths, making it a pleasant place to spend an afternoon. 
               Seven Wonders Park is a must-visit destination for anyone interested in world architecture and culture, and is a great spot for families and travelers looking for a unique experience.               
            </div>
          </div>
          <li>Kishore Sagar Lake</li>
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              About it
            </a>
            </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Kishore Sagar Lake is a scenic man-made lake located in the heart of Kota, Rajasthan. 
                Built in the 14th century by the Bundi prince Dehra Deh, the lake is surrounded by lush gardens and a palace that add to its natural beauty. 
                The palace, known as Jag Mandir, is located in the center of the lake and can be reached by boat.
                 Kishore Sagar Lake is a popular spot for picnics, boating, and evening walks. 
                The serene atmosphere and breathtaking views of the lake make it a favorite destination for locals and tourists alike.
                 Visitors can also enjoy delicious street food and snacks available at various food stalls near the lake. 
                A trip to Kota is incomplete without a visit to Kishore Sagar Lake, where you can relax and enjoy the beautiful scenery in the heart of the city.   
            </div>
          </div>
            </a>
           </p>
        </ul>

  <div class="container mb-3 py-4">
    <h1 class="logo">Bookings</h1>
    <form method="post" action="/contact">
    {% csrf_token %}
        <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
        </div>
        <div class="form-group">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
        </div>
        <div class="form-group">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date">
        </div>
        <div class="form-group">
          <label for="email" class="form-label">No. of People</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
      </div>
        <br><button type="Submit" class="btn btn-dark">Book Now</button><br> 
    </form>
</div>
 
</body>
</html>

{% endblock body %}