{% extends 'base.html' %}


{% block title %}services{% endblock title %}

{% block body %}
<div class="article mb-30" id="lightgalleryFlexpage">
    <div style="text-align: justify;" data-mce-style="text-align: justify;"><p style="font-family: Arial">Rajasthan, the Land of the Kings is a
        heartthrob for travellers with a taste for traditional and antique stuff. Shopping is one of the best things to
        do during a Rajasthan trip. Tourists across the globe are getting gaga over these charming markets with
        legendary past. Right from stunning pottery to vibrant textiles, multi-coloured jootis to vibrant paintings,
        Rajasthan markets has everything for everyone. If you are planning a trip to Rajasthan and want to get a glimpse
        of the best markets, then continue to read on to know more about these places. This list will help you to decide
        the top picks and from where you can get it.</p></div>
    <h3>Jaipur</h3><p style="font-family: Arial">You will be smitten with the colourful markets of the Pink City. Every nook and corner of the streets
    is beautified with artefacts, handicraft and jewellery. Jaipur markets hold a special place in people's heart who
    wants to take back souvenirs that flaunt Rajasthan's culture.</p><br>
    <h2><p style="font-family: Arial">1. Johari Bazaar</h2><p style="font-family: Arial">Johari is another name for jewellery, hence Johari Bazar is all about pretty Rajasthani
    jewellery. This market is known for intricate Kundan work and the traditional Meenakshi jewellery. All the exotic
    ornaments are beautifully adorned with precious and semi-precious gemstones. The vast collection of jewellery comes
    in different price ranges. So, this shopping arcade is never going to disappoint anyone. You can also get your hand
    on Rajasthani lehengas and saris in a few of the shops at Johari Bazaar. And when you are tired of shopping, head to
    the food stalls and grab some authentic delicacies of Rajasthan.</p><br>
    <blockquote><strong>Top Picks: </strong>Rajasthani Jewellery<br><strong>Timings:</strong> 10 AM to 11 PM
    </blockquote>
    <figure class="image align-center" contenteditable="false"><img 
            src="https://www.holidify.com/images/cmsuploads/compressed/Traditional_Rajasthan_Lakh_jewellery_20191231152141.png"
            data-original="https://www.holidify.com/images/cmsuploads/compressed/Traditional_Rajasthan_Lakh_jewellery_20191231152141.png"
            alt="" width="591" height="310" caption="true" style="display: inline;">
        <figcaption><a
                href="https://upload.wikimedia.org/wikipedia/commons/f/f2/Traditional_Rajasthan_Lakh_jewellery.png"
                target="_blank" rel="nofollow"
                data-mce-href="https://upload.wikimedia.org/wikipedia/commons/f/f2/Traditional_Rajasthan_Lakh_jewellery.png">Source</a>
        </figcaption>
    </figure><br>
    <h2><p style="font-family: Arial">2. Nehru Bazar</h2><p style="font-family: Arial">The key attraction of Nehru Bazar is the pretty, multi-coloured jootis which enhances the
    look of ethnic outfits. Apart from footwear, textiles, bags, handicrafts and pottery are available in this market.
    It is a lively place and a popular hang-out for tourists and locals alike. Here, you need to use your bargaining
    skills to get your favourite items at the best price. Do not forget to shop for memorabilia and souvenirs from Nehru
    Bazar during your trip to Jaipur.</p><br>
    <blockquote><strong>Top Picks: </strong>Rajasthani footwear<br><strong>Timings:</strong> 10:30 AM to 7:30 PM
    </blockquote>
    <figure class="image align-center" contenteditable="false"><img src="/static/NehruBazar.jfif"class="d-block w-100 mx-4"
            data-original="https://www.holidify.com/images/cmsuploads/compressed/NehruBazar_20190109091000.jpg"
            alt="Nehru Bazar, Markets in Rajasthan" width="700" height="466"
            data-mce-src="https://www.holidify.com/images/cmsuploads/compressed/NehruBazar_20190109091000.jpg"
            caption="true">
        <figcaption><a href="https://www.pexels.com/photo/india-jaipur-market-310257/" target="_blank" rel="nofollow"
                data-mce-href="https://www.pexels.com/photo/india-jaipur-market-310257/">Source</a></figcaption>
    </figure><br>
    <h3>Jodhpur</h3><p style="font-family: Arial">Shopping in Jodhpur must be on the priority list of every tourist. The markets in Jodhpur have so
    much to offer. Starting from antiques to accessories, textiles to leather goods, you will be spoilt for choice.
    Explore these markets and get a closer look at the traditions and culture of Rajasthan.</p><br>
    <h2>3. Nai Sarak</h2><p style="font-family: Arial">If you are a shopping aficionado, a trip to Jodhpur is incomplete without getting a glimpse of
    Nai Sarak. The speciality of this market are the bandhej and badhni apparels commonly known as tie and dye products
    which are a must buy for every tourist. You can also take home the beautiful turbans, leather items and
    hand-painted, vibrant saris which reflect the extravagant Rajasthani culture. Local artisans themselves make these
    products and sell them at Nai Sarak which means there are no middlemen involved.</p><br>
    <blockquote><strong>Top picks: </strong>Bandhani clothes, leather goods<br><strong>Timings:</strong> 10 AM to 10 PM,
        remain closed on Sunday</blockquote>
    <figure class="image align-center" contenteditable="false"><img  src="/static/NaiSarak.jfif"class="d-block w-100 mx-4"
            data-original="https://www.holidify.com/images/cmsuploads/compressed/NaiSarak_20190109092742.jpg"
            alt="Nai Sarak, Markets in Rajasthan" width="700" height="583"
            data-mce-src="https://www.holidify.com/images/cmsuploads/compressed/NaiSarak_20190109092742.jpg">
        <figcaption><a href="https://commons.wikimedia.org/wiki/File:Bandhani_(2150279080).jpg" target="_blank"
                rel="nofollow"
                data-mce-href="https://commons.wikimedia.org/wiki/File:Bandhani_(2150279080).jpg">Source</a>
        </figcaption>
    </figure>
    <h2>4. Sojati Gate Market</h2><p style="font-family: Arial">One of the most significant markets in Jodhpur is the Sojati Gate Market. Choose from
    a myriad of Rajasthani handicrafts, accessories, jewellery, souvenirs as well as dye products. So, shop till you
    drop and satisfy the shopaholic within you. If you are a lover of henna designs, you would simply fall in love with
    this market. Decorate your palms with henna that look absolutely stunning and give the authentic Rajasthan vibe.</p><br>
    <blockquote><strong>Top Picks: </strong>Bandhani fabrics, Rajasthani handicrafts,
        jewellery<br><strong>Timings:</strong> 7 AM to 11 PM, remain closed on Sunday</blockquote>
    <figure class="image align-center" contenteditable="false"><img  src="/static/SojatiGateMarket.jfif"class="d-block w-100 mx-4"
            data-original="https://www.holidify.com/images/cmsuploads/compressed/SojatiGateMarket_20190109093405.jpg"
            alt="Sojati Gate Market, Markets in Rajasthan" width="700" height="467"
            data-mce-src="https://www.holidify.com/images/cmsuploads/compressed/SojatiGateMarket_20190109093405.jpg">
        <figcaption><a href="https://www.flickr.com/photos/azwegers/6270006129" target="_blank" rel="nofollow"
                data-mce-href="https://www.flickr.com/photos/azwegers/6270006129">Source</a></figcaption>
    </figure><br>
    <h3>Udaipur<br></h3><p style="font-family: Arial">Udaipur has everything, from modern showrooms to street-side vendors. Get your mind boggled with
    the myriad choices and hues of the markets. Go on a shopping spree at Udaipur and come back with a delightful
    experience.&nbsp;</p><br>
    <h2>5. Bada Bazar</h2><p style="font-family: Arial">Bada Bazar is a one-stop destination for gold jewellery, clothing materials, silver and
    copperware. You name it and they have it. Some of the shops also sell precious gemstones, antique items, and leather
    goods. There are modern showrooms as well as street shops and the prices are also reasonable. Do not worry about the
    Rajasthan heat, there are a number of roadside stalls selling buttermilk, fruit juices and snacks that will refresh
    you instantly. Go munching and keep shopping.</p><br>
    <blockquote><strong>Top Picks: </strong>Bandhani apparels, jewellery, leather items<br><strong>Timings:</strong> 8
        AM to 9 PM</blockquote>
    <figure class="image align-center" contenteditable="false"><img src="/static/BadaBazar.jfif"class="d-block w-100 mx-4"
            data-original="https://www.holidify.com/images/cmsuploads/compressed/BadaBazar_20190109094207.jpg"
            alt="Bada Bazar, Markets in Rajasthan" width="700" height="467"
            data-mce-src="https://www.holidify.com/images/cmsuploads/compressed/BadaBazar_20190109094207.jpg">
        <figcaption><a href="https://upload.wikimedia.org/wikipedia/commons/2/23/Rajasthan_%286332196192%29.jpg"
                target="_blank" rel="nofollow"
                data-mce-href="https://upload.wikimedia.org/wikipedia/commons/2/23/Rajasthan_%286332196192%29.jpg">Source</a>
        </figcaption>
    </figure>
    <h2><p style="font-family: Arial">6. Hathi Pol Bazar</h2>Udaipur is all about stunning art and paintings and Hathi Pol Bazar is the finest
    example. Here you will find folk art and handicraft which are unique and fairly priced. It is one of the buzzing
    markets in Udaipur that swarms with tourists from different corners of the world. You can also take home with you
    beautiful Rajasthani footwear namely jootis and mojris. Locals quite often go shopping in this market, so there is a
    lesser chance for shopkeepers to overcharge.&nbsp; </p><br>
    <blockquote><strong>Top Picks:</strong> Traditional miniature paintings<br><strong>Timings:</strong> 9:30 AM to 5:30
        PM, remain closed on Sunday</blockquote>
    <figure class="image align-center" contenteditable="false"><img  src="/static/HathiPolBazar.jfif"class="d-block w-100 mx-4"
            data-original="https://www.holidify.com/images/cmsuploads/compressed/HathiPolBazar_20190109094512.jpg"
            alt="Hathi Pol Bazar, Markets in Rajasthan" width="700" height="571"
            data-mce-src="https://www.holidify.com/images/cmsuploads/compressed/HathiPolBazar_20190109094512.jpg">
        <figcaption><a href="https://c1.staticflickr.com/4/3852/14670999458_6139571475_b.jpg" target="_blank"
                rel="nofollow"
                data-mce-href="https://c1.staticflickr.com/4/3852/14670999458_6139571475_b.jpg">Source</a></figcaption>
    </figure><br>
    <h3>Jaisalmer</h3><p style="font-family: Arial">Jaisalmer, the home of the golden Thar Desert, charm travellers with its lively street stalls. The
    intricate craftsmanship by the local artists in Jaisalmer deserves appreciation. The markets offer ample variety at
    best rates. No doubt Jaisalmer is your one-stop-shop.</p><br>
    <h2>7. Sadar Bazar</h2><p style="font-family: Arial">Packed with traditional Rajasthani items, Sadar Bazar is one of the liveliest markets in
    Jaisalmer. Also, it is a perfect example of a typical Rajasthani ethnicity. When you are here, get your hands on
    blankets, rugs, carpets, apparels, handicrafts, antiques and so on. Apart from the Rajasthani charm, Sadar Bazar
    also offers other trendy items such as dye and Khadi fabric to name a few. And the best part, everything is
    available at a wholesale rate. So, even a stroll around this market will leave you dazzled.&nbsp;</p><br>
    <blockquote><strong>Top Picks: </strong>Handicrafts, jewellery, carpets<strong><br>Timings:</strong> 10 AM to 6 PM
    </blockquote>
    <figure class="image align-center" contenteditable="false"><img src="/static/dolls.jfif"class="d-block w-100 mx-4"
            data-original="https://www.holidify.com/images/cmsuploads/compressed/800px-Rajasthani_Dolls_20191231151659.JPG"
            alt="" width="700" height="525" caption="true">
        <figcaption><a href="https://en.wikipedia.org/wiki/File:Rajasthani_Dolls.JPG" target="_blank" rel="nofollow"
                data-mce-href="https://en.wikipedia.org/wiki/File:Rajasthani_Dolls.JPG">Source</a></figcaption>
    </figure><br>
    <h2>8. Pansari Bazar</h2><p style="font-family: Arial">Pansari Bazar, the oldest market in Jaisalmer is a shopper's paradise. Being the oldest
    market, it has retained its cultural and historic charm. Popularly known as villager's market, Pansari Bazar sells a
    wide variety of exquisite traditional pieces with a unique print, patterns and colours. It is a hub for Jaisalmer
    goodies namely ethnic wear, wall hangings, handicrafts, bells and puppets. Do not forget to take a bit of Rajasthan
    with you during your visit to the Pansari Bazar.</p><br>
    <blockquote><strong>Top Picks:</strong> Ethnic attire, local handicrafts<br><strong>Timings:</strong> 10 AM to 6 PM
    </blockquote>
    <figure class="image align-center" contenteditable="false"><img src="/static/PansariBazar.jfif"class="d-block w-100 mx-4"
            data-original="https://www.holidify.com/images/cmsuploads/compressed/PansariBazar_20190109095228.jpg"
            alt="Pansari Bazar, Markets in Rajasthan" width="700" height="466"
            data-mce-src="https://www.holidify.com/images/cmsuploads/compressed/PansariBazar_20190109095228.jpg">
        <figcaption><a href="https://c1.staticflickr.com/4/3684/13241517094_54beec72bf_b.jpg" target="_blank"
                rel="nofollow"
                data-mce-href="https://c1.staticflickr.com/4/3684/13241517094_54beec72bf_b.jpg">Source</a></figcaption>
    </figure><br>
    <h3>Bikaner</h3><p style="font-family: Arial">Bikaner is a picturesque desert city that gained acclamation for its tasty bhujia. The markets in
    Bikaner are hidden gems that are not overrun by tourists. &nbsp;The shops are filled with leather jootis, miniature
    paintings, khadi fabric and other knick-knacks. There are a few kundan jewellery shops in Bikaner that deserves a
    lot of admiration.&nbsp;</p><br>
    <h2>9. Kote Gate Road</h2><p style="font-family: Arial">Kote Gate Road is a treasure trove for budget shoppers. Admire the architecture of Kote
    Gate and engage in shopping from the busy shops around you. This market is full of energy and exhibits the exuberant
    Rajasthani culture. Take home charming accessories made from camel hide, multi-coloured sandals, vibrant miniature
    paintings, colourful Khadi kurtas and the list goes on. A hot cup of tea made from camel's milk is a speciality of
    this market that will leave you rejuvenated and help you with your sightseeing expeditions.</p><br>
    <blockquote><strong>Top Picks:</strong> Bikaneri namkeens and sweets, camel leather
        items<br><strong>Timings:</strong> 9 AM to 9 PM</blockquote>
    <figure class="image align-center" contenteditable="false"><img  src="/static/KoteGateMarket.jfif"class="d-block w-100 mx-4"
            data-original="https://www.holidify.com/images/cmsuploads/compressed/KoteGateMarket_20190109100127.jpg"
            alt="Kote Gate Market, Markets in Rajasthan" width="700" height="394"
            data-mce-src="https://www.holidify.com/images/cmsuploads/compressed/KoteGateMarket_20190109100127.jpg">
        <figcaption><a href="https://upload.wikimedia.org/wikipedia/commons/5/5e/Bangles_in_Jodhpur.jpg" target="_blank"
                rel="nofollow"
                data-mce-href="https://upload.wikimedia.org/wikipedia/commons/5/5e/Bangles_in_Jodhpur.jpg">Source</a>
        </figcaption>
    </figure>
    <h2>10. Station Road Market</h2><p style="font-family: Arial">One of the most unexplored hubs in Bikaner is the Station Road Market. This market
    is popular for its leather goods and handicrafts. It is not one of the high profile shopping destinations but gives
    a pleasurable shopping experience. It is also known for its snack shops that sell lip-smacking bhujias. The bhujias
    of Station Road Market in Bikaner has gained widespread popularity across the country.</p><br>
    <blockquote><strong>Top Picks: </strong>Bikaneri namkeens, handicrafts, leather items<br><strong>Timings:</strong> 9
        AM to 9 PM</blockquote>
    <figure class="image align-center" contenteditable="false"><img src="/static/gypsy-garments.jfif"class="d-block w-100 mx-4"
            data-original="https://www.holidify.com/images/cmsuploads/compressed/gypsy-garments_20191231152447.jpg"
            alt="" width="700" height="465" caption="true">
        <figcaption><a
                href="https://www.needpix.com/photo/download/1511817/garments-clothing-color-rajasthan-custom-gypsy-design-pattern-fabric"
                target="_blank" rel="nofollow"
                data-mce-href="https://www.needpix.com/photo/download/1511817/garments-clothing-color-rajasthan-custom-gypsy-design-pattern-fabric">Source</a>
        </figcaption>
    </figure><br><p style="font-family: Arial">Hope this Rajasthan shopping guide helps you to get the best of the royal city. Always keep your
    bargaining skills handy while shopping in this princely state. Give a perfect closure to the Rajasthan trip by
    shopping from some of these markets and embracing your inner shopaholic.</p>
</div>

{% endblock body %}