{% extends 'base.html' %}


{% block title %}jaipur{% endblock title %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<body>
  <header>
    <div class="logo">
      <h1>Rajasthan Travel Guide</h1>
    </div>
  </header>
  <main>
    <div class="container-fluid ">
      <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/static/city.jfif" class="d-block w-100 px-0" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/static/jagdish.jfif" class="d-block w-100 px-0" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/static/lake_1.jfif" class="d-block w-100 px-0" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/static/wari.jfif" class="d-block w-100 px-0" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  </div>
        <h3>Top Attractions</h3>
        <ul>
          <li>City Palace</li>
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              About it
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
                City Palace is a magnificent palace located in the heart of Udaipur, Rajasthan, India. It was built by Maharana Udai Singh II in the 16th century, and has been expanded and renovated by successive rulers over the years.
                The palace is a beautiful blend of Rajasthani and Mughal architectural styles, with intricate carvings, beautiful paintings, and stunning courtyards. The palace complex comprises several buildings, including the Manak Mahal, Krishna Vilas, Moti Mahal, and Zenana Mahal. Each of these buildings has its own unique features and exhibits, including beautiful frescoes, antique furniture, and royal costumes.
                The palace also has a museum that showcases a vast collection of artifacts, including paintings, weapons, and musical instruments, providing insights into the history and culture of the Mewar region.
                
            </div>
          </div>
          <li>Lake Pichola</li>
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              About it
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Lake Pichola is a beautiful artificial lake located in the city of Udaipur, Rajasthan, India. It was created in the 14th century by Maharana Udai Singh II, and is surrounded by hills, palaces, and temples.
                Lake Pichola is one of the most popular tourist attractions in Udaipur, and is known for its breathtaking beauty and serene atmosphere. The lake has several islands, including Jag Niwas (which is home to the famous Lake Palace hotel) and Jag Mandir. The palace and temples around the lake are illuminated at night, creating a magical ambiance.
                Visitors can take a boat ride on the lake and enjoy the stunning views of the city, especially during sunset. The boat ride also takes you to Jag Mandir, a beautiful palace located on an island in the middle of the lake. Jag Mandir was built by Maharana Karan Singh in the 17th century and is known for its beautiful architecture and stunning views of the lake.
                
            </div>
          </div>
          <li>Jagdish Temple</li>
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              About it
            </a>
            </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Jagdish Temple is an ancient temple located in the heart of Udaipur, Rajasthan, India. It was built in the 17th century by Maharana Jagat Singh, and is dedicated to Lord Vishnu, the preserver of the universe.
                The temple is a beautiful example of Indo-Aryan architecture, with intricate carvings and stunning sculptures. It is made of marble and is adorned with beautiful frescoes, depicting scenes from Hindu mythology. The temple has a pyramidal spire and a beautiful mandap (hall) with 32 pillars.
                The main shrine of the temple houses a beautiful black stone idol of Lord Vishnu, which is four-armed and is decorated with beautiful jewelry and clothes. The temple is also home to several other idols, including Lord Ganesha, Goddess Laxmi, and Lord Shiva.
                
            </div>
          </div>
          <li>Saheliyon-ki-Bari</li>
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              About it
            </a>
            </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Saheliyon-ki-Bari is a beautiful garden located in Udaipur, Rajasthan, India. It was built by Maharana Sangram Singh in the 18th century and is a popular tourist attraction in the city.
                The garden is known for its beautiful fountains, marble elephants, lotus pool, and stunning greenery. The name "Saheliyon-ki-Bari" means "Garden of the Maidens," and it is said that the garden was designed for the queen and her attendants to relax and enjoy the beautiful surroundings.
                The garden is divided into several sections, each with its own unique features. The lotus pool, surrounded by beautiful flowers and fountains, is a popular spot for photography. The marble elephants are a unique feature of the garden, with water flowing out of their trunks into the pool.  
            </div>
          </div>
        </ul>

  <div class="container mb-3 py-4">
    <h1 class="logo">Bookings</h1>
    <form method="post" action="/contact">
    {% csrf_token %}
        <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
        </div>
        <div class="form-group">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
        </div>
        <div class="form-group">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date">
        </div>
        <div class="form-group">
          <label for="email" class="form-label">No. of People</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
      </div>
        <br><button type="Submit" class="btn btn-dark">Book Now</button><br> 
    </form>
</div>
 
</body>
</html>

{% endblock body %}